main {
  position: relative;
  top: 10rem;
  padding-bottom: 4.5rem;
  overflow: auto;
}

.form-row {
  border-bottom: 1px solid #343a40;
  height: 6rem;
}

p.descr {
  overflow-y: scroll;
  max-height: 100%;
}

.toggle-checkbox {
  background-color: #fbe988;
}

#before-order {
  top: 5rem;
}

#before-order-btn {
  width: 100%;
  height: 3rem;
  border: 1px solid #d2ab00;
  color: #d2ab00;
  background-color: #fff;
}

#before-order-btn:hover {
  background-color: #d2ab00;
  color: #fff;
}
