
body {
  height: 100vh;
  background-image: url("../images/beans.jpg");
  background-repeat: repeat;
}

h1 {
  text-decoration: underline;
}

main {
  background-color: #fff;
}

.border-cols {
  border-right: 1px solid #343a40;
}

a {
  color: #343a40;
}

a:hover {
  color: #ffd621;
}

#logo {
  color: #d2ab00;
}

#logout-btn {
  border: 1px solid #d2ab00;
  color: #d2ab00;
}

#logout-btn:hover {
  background-color: #d2ab00;
  color: #343a40;
}
