#logo {
  color: #d2ab00;
}

#logout-btn {
  border: 1px solid #d2ab00;
  color: #d2ab00;
}

#logout-btn:hover {
  background-color: #d2ab00;
  color: #343a40;
}

#create-btn {
  border: 1px solid #d2ab00;
  color: #d2ab00;
}

#create-btn:hover {
  background-color: #d2ab00;
  color: #fff;
}

#dash-btn {
  color: #fff;
  background-color: #d2ab00;
}

#dash-btn:hover {
  background-color: #ab8b02;
  color: #fff;
}
