body {
  height: 100vh;
}

main {
  padding-bottom: 4.5rem;
}

#logo {
  color: #d2ab00;
}

#login-btn, #register-btn {
  border: 1px solid #d2ab00;
  color: #d2ab00;
}

#login-btn:hover, #register-btn:hover {
  background-color: #d2ab00;
  color: #343a40;
}

main div {
  height: 100%;
}

.main-1 {
  background-image: url(../images/coffee_donuts.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-2 {
  background-image: url(../images/coffee-cappuccino.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-3 {
  background-image: url(../images/coffee-beans.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#banner {
  position: absolute;
  top: 4rem;
  width: 40%;
  height: 35%;
  margin-left: 3rem;
  margin-top: 2.5rem;
}

@media only screen and (max-width: 1067px) {
  #banner {
    width: 100%;
    margin-top: 1rem;
    margin-left: 0;
  }
}

.login-fail {
  border-color: #dc3545;
}

#login-fail, #register-fail {
  color: #dc3545;
}
