body {
  height: 100vh;
}

main {
  padding-top: 4.5em;
  padding-bottom: 4.5rem;
  height: 100%;
}

main div {
  height: 100%;
}

.main-1 {
  background-image: url(../images/Coffee_Cappuccino_Cinnamon_Cup_Saucer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-2 {
  background-image: url(../images/Coffee_Cappuccino_Cup_Two_Grain.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-3 {
  background-image: url(../images/falling_coffee_cup.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#banner {
  padding: 0;
  margin-top: 4.5rem;
  position: absolute;
  width: 28rem;
  min-height: 15rem;
  top: 3rem;
  right: 3rem;
  background-color: #343a40;
}

@media only screen and (max-width: 768px) {
  #banner {
    width: 100%;
    margin-top: 4rem;
    right: 0;
    left: 0;
  }
}

#banner p {
  color: #fff;
}

#order-now {
  border: 1px solid #d2ab00;
  color: #d2ab00;
}

#order-now:hover {
  background-color: #d2ab00;
  color: #343a40;
}
