main {
  position: relative;
  top: 4.5rem;
  padding-bottom: 5.5rem;
  overflow: auto;
}

.row {
  height: 4rem;
  border-bottom: 1px solid #343a40;
  border-left: 1px solid #343a40;
  border-right: 1px solid #343a40;
}

#head {
  border-top: 1px solid #343a40;
  background-color: #343a40;
  color: #fff;
}

.col-3 {
  max-height: 100%;
}

.products {
  overflow-y: scroll;
}

.products li {
  font-size: .85rem;
}

#content .row:nth-child(odd) {
  background-color: #f2f2f2;
}
