#thead{
  background-color: #343a40;
  color: #fff;
}

td.buttons {
  width: 5rem;
}

#logo {
  color: #d2ab00;
}

#logout-btn {
  border: 1px solid #d2ab00;
  color: #d2ab00;
}

#logout-btn:hover {
  background-color: #d2ab00;
  color: #343a40;
}

#submit-edit {
  border: 1px solid #d2ab00;
  color: #d2ab00;
}

#submit-edit:hover {
  background-color: #d2ab00;
  color: #fff;
  cursor: pointer;
}

.edit-btn {
  border: 1px solid #d2ab00;
  color: #d2ab00;
}

.edit-btn:hover {
  border-color: #d2ab00;
  background-color: #d2ab00;
  color: #fff;
  cursor: pointer;
}

table {
  border: 1px solid #343a40;
}
