<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    
    <welcome-file-list>
        <welcome-file>landingPage.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>viewProducts</servlet-name>
        <servlet-class>com.webappcafe.servlet.product.ViewProducts</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>viewProducts</servlet-name>
        <url-pattern>/viewProducts</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>viewCustomers</servlet-name>
        <servlet-class>com.webappcafe.servlet.product.ViewCustomers</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>viewCustomers</servlet-name>
        <url-pattern>/viewCustomers</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>deleteCustomer</servlet-name>
        <servlet-class>com.webappcafe.servlet.product.DeleteCustomer</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteCustomer</servlet-name>
        <url-pattern>/deleteCustomer</url-pattern>
    </servlet-mapping>


    <servlet>
        <description></description>
        <display-name>LoginFunction</display-name>
        <servlet-name>LoginFunction</servlet-name>
        <servlet-class>com.webappcafe.servlet.product.LoginFunction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginFunction</servlet-name>
        <url-pattern>/LoginFunction</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description></description>
        <display-name>LogoutFunction</display-name>
        <servlet-name>LogoutFunction</servlet-name>
        <servlet-class>com.webappcafe.servlet.product.LogoutFunction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutFunction</servlet-name>
        <url-pattern>/LogoutFunction</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description></description>
        <display-name>RegistrationFunction</display-name>
        <servlet-name>RegistrationFunction</servlet-name>
        <servlet-class>com.webappcafe.servlet.product.RegistrationFunction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationFunction</servlet-name>
        <url-pattern>/RegistrationFunction</url-pattern>
    </servlet-mapping>
</web-app>
